body{
    padding:32px;
    margin:32px;
    font-family:Roboto,Arial,sans-serif;
    font-size:16px
}

.main header nav
{
    width: 75%;
    margin: 32px auto;
}

header nav a{
    color: blueviolet;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover,
header nav a:active
{
    color: lightskyblue;
}