<h2>Create New Contact</h2>
<div>
    <div>
        <label for="first-name">FirstName</label>
        <input type="text" id="first-name" #fname>
    </div>
    <div>
        <label for="last-name">LastName</label>
        <input type="text" id="last-name" #lname value="{{passedlastName}}">
    </div>
    <div>
        <label for="phone">Phone</label>
        <input type="text" id="phone" #phone>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" #email>
    </div>
    <div>
        <button (click)="onAddContact(fname.value,lname.value,email.value,phone.value)">Create Contact</button>
    </div>
    
</div>
